.headerTitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: #121417;
}
.headerTitlePart {
  font-style: italic;
  font-weight: 400;
}

.headerText {
  font-weight: 400;
  font-size: 16px;
  line-height: 137%;
  letter-spacing: -0.02em;
  color: #121417;
}

.headerBtn {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  color: #121417;
  border-radius: 12px;
  padding: 16px 88px;
  min-width: 267px;
  height: 60px;
  background: #f4c550;
}
